.form-field {
  display: flex;

  flex-direction: column;

  margin-bottom: 1rem;
}

.form-label {
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.required {
  color: #ef4444;

  margin-left: 4px;
}

/* Make PrimeNG password fill available width */

:host ::ng-deep .p-password {
  width: 100%;
}

:host ::ng-deep .p-password-input {
  width: 100%;
}
